{% extends "navigator.html" %}
{% block title %}Home{% endblock %}
{% block body %}
	<div id="bigdiv" style="background-color:#f6f6f6;padding:10px 10px 10px 10px;text-align:center;height:100%">
		<div class="fdiv"> Basic Information In Database </div>
		<div class="sdiv">Users : <span id="user">{{ info['user'] }}</span> </div>
		<div class="sdiv">Repos : <span id="repo">{{ info['repo'] }}</span> </div>
		<div class="sdiv">User-Users : <span id="user_user">{{ info['user_user'] }}</span></div>
		<div class="sdiv">User-Repos : <span id="user_repo">{{ info['user_repo'] }}</span></div>
	</div>
	<script>
		$('.fdiv').css({
		"color":"black",
		"font-size":"30px",
		"margin-top":"20px",
		"margin-bottom":"10px",
		"padding-top":"10px",
		"padding-bottom":"10px"
		})
		$('.sdiv').css({
		"color":"#4682b4",
		"font-size":"25px",
		"margin-top":"5px",
		"margin-bottom":"5px",
		"padding-top":"5px",
		"padding-bottom":"5px"
		})

		update_data();
		
		function update_data(){		
			var p = get_promise('/home/msg');
			p.then(
				(res) => {
					ans = JSON.parse(res);
					console.log(ans)
					$('#user').html(ans['user']);	
					$('#repo').html(ans['repo']);	
					$('#user_user').html(ans['user_user']);	
					$('#user_repo').html(ans['user_repo']);					
					setTimeout(update_data,1000) 
			});
			
		}
	</script>
{% endblock %}
