{% extends "navigator.html" %}
{% block title %}UserStatistics{% endblock %}
{% block js %}
	<script src="/static/javascript/user_statistics.js"></script>
{% endblock %}
{% block body %}
<form method="GET" style="background-color:#f6f6f6;padding:10px 10px 10px 10px;font-size:16px;color:#2a2a2a;text-align:center;border-bottom-style:dashed;border-bottom-width:1px;border-bottom-color:#ccc">
	<span style="font-size:20px;color:#4682b4">StatisticsBy:</span>
	<input style="margin-left:15px" type="radio" name="type" value="followers" {% if info['type'] == 'followers' %} checked="checked"{% endif %}>
	<span style="margin:0px 5px 0px 0px">Followers</span>
	<select name="followers_gap">
			{% for sg in info['followers_gaps'] %}
			<option value="{{ sg }}" {% if sg == info['followers_gap'] %} selected="selected" {% endif %}>{{ sg }}</option>
			{% endfor %}
	</select>
	
	<input style="margin-left:20px" type="radio" name="type" value="public_repos" {% if info['type'] == 'public_repos' %} checked="checked"{% endif %}>
	<span style="margin:0px 5px 0px 0px">Public-Repos</span>
	<select name="public_repos_gap">
			{% for sg in info['public_repos_gaps'] %}
			<option value="{{ sg }}" {% if sg == info['public_repos_gap'] %} selected="selected" {% endif %}>{{ sg }}</option>
			{% endfor %}
	</select>
	
	<input style="margin-left:20px" type="radio" name="type" value="public_gists" {% if info['type'] == 'public_gists' %} checked="checked"{% endif %}>
	<span style="margin:0px 5px 0px 0px">Public-Gists</span>
	<select name="public_gists_gap">
			{% for sg in info['public_gists_gaps'] %}
			<option value="{{ sg }}" {% if sg == info['public_gists_gap'] %} selected="selected" {% endif %}>{{ sg }}</option>
			{% endfor %}
	</select>
	<input class="input-submit" style="margin:0px 0px 0px 20px" type="submit" value="Filter">
</form>
<style>
select,.input-text {
	background-color: #fbfbfb;
	border: 1px solid #a7a7a7;
	height: 30px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	cursor: pointer;
}

select:focus,.input-text:focus {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 2px solid #94c1e7;
	outline: none;
}

.input-submit{
	background-color: #fbfbfb;
	color: 	#4682b4;
	font-size: 18px;
	font-style: bold;
	border: 1px solid #a7a7a7;
	height: 30px;
	width: 100px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.input-submit:hover{
	background-color: #94c1e7;
	color: 	#fbfbfb;
}
</style>
{% endblock %}
